@model List<OrderVM>

<h2>Calculated Orders</h2>

<table class="table">
    <thead>

        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category Name</th>
            <th>Order Quantity</th>
            <th>Order Price (₴)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryName</td>
                <td>@item.OrderQuan</td>
                <td>₴@item.OrderPrice.ToString("N2")</td> <!-- Formatting for currency -->
            </tr>
        }
        
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total</th>
            <th>₴@Model.Sum(item => item.OrderPrice).ToString("N2")</th>
        </tr>
        <tr>
            <th colspan="5">
                <form action="@Url.Action("Insert", "Order")" method="post">
                    <button type="submit" class="btn btn-primary">Add to DB</button>
                </form>
            </th>

            
        </tr>
    </tfoot>

</table>