@model RecipeVM
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;

<form id="recipeForm"  method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h4>@(Model.Recipe.Id != 0 ? "Update" : "Create") Recipe</h4>
            <hr />
        </div>
        <input asp-for="Recipe.Id" hidden />
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-3">
                    <label asp-for="Recipe.Name" class="control-label pb-1"></label>
                    <input asp-for="@Model.Recipe.Name" class="form-control" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Recipe.CookingTime" class="control-label pb-1"></label>
                    <input asp-for="@Model.Recipe.CookingTime" class="form-control" />
                    <span asp-validation-for="Recipe.CookingTime" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Recipe.Preparation" class="control-label pb-1"></label>
                    <textarea asp-for="@Model.Recipe.Preparation" class="form-control"></textarea>
                    <span asp-validation-for="Recipe.Preparation" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Recipe.imgUrl" class="control-label pb-1"></label>
                    <input type="file" name="file" asp-for="Recipe.imgUrl" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Recipe.MealId" class="control-label pb-1"></label>
                    <select asp-for="@Model.Recipe.MealId" asp-items="@Model.MealList" class="form-select">
                        <option disabled selected>Select Meal</option>
                    </select>
                    <span asp-validation-for="Recipe.MealId" class="text-danger"></span>
                </div>
                <div class="border p-3 mt-4" id="ingredients-container">
                    <div class="row pb-2">
                        <h4>Ingredients</h4>
                        <hr />
                    </div>
                    <button class="btn btn-success float-right" type="button" id="add-ingredient">Add Ingredient</button>

                    <div id="ingredients">

                    @for (int i = 0; i < Model.ProductRecipes.Count; i++)
                    {
                            <input type="hidden" asp-for="ProductRecipes[i].Id" />
                            <div class="ingredient-group row">
                                <!-- Product Selection -->
                                <div class="col-md-3 form-group mb-3">
                                    <label asp-for="ProductRecipes[i].ProductId" class="control-label"></label>
                                    <select asp-for="@Model.ProductRecipes[i].ProductId" asp-items="@Model.ProductList" class="form-select">
                                        <option disabled selected>Select Product</option>
                                    </select>
                                    <span asp-validation-for="ProductRecipes[i].ProductId" class="text-danger"></span>
                                </div>

                                <!-- Quantity Input -->
                                <div class="col-md-3 form-group mb-3">
                                    <label asp-for="ProductRecipes[i].Quantity" class="control-label"></label>
                                    <input asp-for="ProductRecipes[i].Quantity" class="form-control" />
                                    <span asp-validation-for="ProductRecipes[i].Quantity" class="text-danger"></span>
                                </div>

                                <!-- Unit Selection -->
                                <div class="col-md-3 form-group mb-3">
                                    <label asp-for="ProductRecipes[i].UnitId" class="control-label"></label>
                                    <select asp-for="@Model.ProductRecipes[i].UnitId" asp-items="@Model.UnitList" class="form-select">
                                        <option disabled selected>Select Unit</option>
                                    </select>
                                    <span asp-validation-for="ProductRecipes[i].UnitId" class="text-danger"></span>
                                </div>

                                <!-- Remove Button -->
                                <div class="col-md-3 form-group mb-3 align-self-end">
                                    <button type="button" class="btn btn-danger" onclick="confirmDelete(this, '@Url.Action("DeleteIngridient", "Recipe", new { id = Model.ProductRecipes[i].Id })')">Remove</button>
                                </div>
                            </div>

                    }
                    </div>

                </div>
                
                <div class="row">
                    @if (Model.Recipe.Id != 0)
                    {
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" style="height:50px">Edit</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" style="height:50px">Create</button>
                        </div>
                    }
                    <div class="col-6 col-md-3">
                        <a asp-controller="Recipe" asp-action="Index" class="btn btn-secondary form-control d-flex justify-content-center align-items-center" style="height: 50px">
                            Recipe List
                        </a>
                    </div>
                </div>
            </div>
        </div>




    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    @* <script src="~/js/productRecipe.js"></script> *@
    @* <script src="~/js/productRecipe.js"></script> *@
    <script>
        $(document).ready(function () {
            $('#add-ingredient').on('click', function () {
                var index = $('.ingredient-group.row').length;  // Determine the new index based on existing elements
                console.log(index);
                var newIngredientHtml = `
                                <div class="ingredient-group row">
                                    <input type="hidden" name="ProductRecipes[${index}].Id" value="0">  <!-- Новий інгредієнт має Id 0 -->
                                    <div class="col-md-3 form-group mb-3">

                                        <label>Product</label>
                                        <select name="ProductRecipes[${index}].ProductId" class="form-select">
                                            <option value="">Select Product</option>
        @foreach (var product in @Model.ProductList)
        {
                                                    <option value="@product.Value">@product.Text</option>
        }

                                        </select>
                                    </div>

                                    <div class="col-md-3 form-group mb-3">
                                        <label>Quantity</label>
                                        <input type="number" name="ProductRecipes[${index}].Quantity" class="form-control" />
                                    </div>
                                    <div class="col-md-3 form-group mb-3">
                                        <label>Unit</label>
                                        <select name="ProductRecipes[${index}].UnitId" class="form-select">
                                            <option value="">Select Unit</option>
        @foreach (var unit in Model.UnitList)
        {
                                                    <option value="@unit.Value">@unit.Text</option>
        }
                                        </select>
                                    </div>
                                    <div class="col-md-3 form-group mb-3 align-self-end">
                                        <button type="button" class="remove-ingredient btn btn-danger">Remove</button>
                                    </div>
                                </div>`
                $('#ingredients').append(newIngredientHtml);  // Append the new ingredient group
            });

            // $(document).on('click', '.remove-ingredient', function () {
            //     $(this).closest('.ingredient-group').remove();  // Remove the ingredient group

            // });

        });

        function confirmDelete(element, url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (response) {
                            $(element).closest('.ingredient-group').remove(); // Remove the ingredient group on success
                            toastr.success(response.message);  // Display a success message
                        },
                        error: function (xhr, status, error) {
                            toastr.error("Error: " + error);  // Display an error message
                        }
                    });
                }
            });
        }
    </script>
}
